<<<<<<< HEAD


=======
>>>>>>> ddb32bae7c7ee09b172d71952e6b2724058ec735
footer {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: aliceblue;
}
<<<<<<< HEAD

h4{
  color: darkred;
}

footer{
  background-color: lightblue;
}
=======
>>>>>>> ddb32bae7c7ee09b172d71952e6b2724058ec735
